@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body{
    background-color: antiquewhite;
    font-family: 'Space Grotesk', sans-serif;
}
h2{
    text-align: center;
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}
h3{
    color: orangered;
    text-align: center;  
}
p{
    color: blueviolet;
    text-align: center;
}
.countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.country{
    border: 2rex solid teal;
    background-color: lightgreen;
    border-radius: 30px;
    padding: 20px;
}
.country img{
    width: 200px;
    margin-left: 85px;
}




/* @media screen {
    min-width: 400px;
    grid-template-columns: repeat(1, 1fr);
} */
/* .countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.country{
    border: 3px solid orangered;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
}
.country img{
    width: 200px;
} */